<html>
<head>
    <meta charset="UTF-8">
    <title>HAPPY BIRTHDAY DENISE</title>
    <link rel="stylesheet" href="../styles/birthday.css">
</head>
<body>
    <div class="instructions">
        <h1>BIRTHDAY DENISE</h1>
        <div class="wrapper-display">
            <div class="message">
                <p>Helloooooo HAPPY BIRTHDAY enjoy this gift of denise horse. I have no idea what you'd do with it LOL but hey, it was fun to make anyways.
                    <br>
                    Rip no travel this year, it's so weird that we haven't seen each other in person in OVER A YEAR I'm sure that's actually a record since we first met.
                    <br>
                    I debated writing a card instead of typing but this was easier since I'm giving this to you online anyways :D
                    <br>
                    Anyways yes please enjoy denise horse, unfortunately there isn't much functionality because this is the first time I'm using Three.JS and Blender and animation stuff,
                    so it's a pretty basic project LOL. (But hey guess what I kill 2 birds with one stone I'm giving you a gift and also building my resume/skills)
                    <br>
                    WHEN TRAVEL IS POSSIBLE/LESS ANNOYING AGAIN pls come visit or I will come visit HK sooooooooon! Zoom is great and all but doesn't replace actual in person meeting :((
                    (also LOL VSCode does not like me writing sad faces it tries to autocomplete closing parantheses)
                    <br>
                    OR come visit meee in (most likely) TORONTO sometime in the NEAR FUTURE!!!! Promise I'll learn how to drive so we can ROAD TRIPPPPPP (I mean, if u actually trust me to drive loooool)
                    <br>
                    OK bye have a good day I guess (LOLOL) jk I MISS HANGING OUT WITH U talk to u soooooon (zoom)
                </p>
        
            </div>
            <div class="images">
                <img src="../img/denise_heart.jpg" width="300">
                <img src="../img/denise_climb.jpg" width="150"> 
                <br>
                <img src="../img/denise_troll.jpg" width="300">
                <img src="../img/denise_troll2.jpg" width="300">
            </div>
        </div>
        
        <button onclick="back()">Back</button>
        <script>
            function back() {
                console.log(location.href);
                location.href = "/";
            }
        </script>

    </div>
</body>
</html>