<html>
<head>
    <meta charset="UTF-8">
    <title>DENISE HORSE</title>
    <link rel="stylesheet" href="../styles/instructions.css">
</head>
<body>
    <div class="instructions">
        <h1>WELCOME TO DENISE HORSE</h1>
        <h2>INSTRUCTIONS:</h2>
        <p>Use the arrow keys to navigate!</p>
        <br>
        <img src="../img/arrow_keys.png" width="100">
        <br>
        <p>Reset your position with the <b>r</b> key</p>
        <h3>For gait control:</h3>
        <p>Walk with the <b>w</b> key</p>
        <p>Trot with the <b>t</b> key</p>
        <p>Canter with the <b>c</b> key</p>

        <button onclick="openThreeJS()" class="start-button">Start</button>
        <button onclick="openBirthdayMessage()" class="start-button">Birthday Message</button>
        <script>
            function openThreeJS() {
                location.href += "horse";
            }

            function openBirthdayMessage() {
                location.href += "birthday";
            }
        </script>
    </div>
</body>
</html>